<div class="header fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-medium">
        <a class="navbar-brand" href="/">IFIP WG 8.2 Working Conference 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-md-auto d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link mr-md-2 active" href="/dates">Important Dates</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link mr-md-2 active" href="/committees">Committees</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link mr-md-2 active" href="/registration">Registration</a>
                </li>
                {% include generateDynamicMenu.html root="/about" title="About" %} {% include generateDynamicMenu.html root="/program" title="Program" %}
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2 active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Submissions
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                        <li><a class="dropdown-item" href="/files/IFIP 8.2-2018-CFP.pdf">Call for papers</a></li>
                        <li><a class="dropdown-item" href="/submission/submission">Paper Submissions</a></li>
                    </ul>
                </li>
                {% include generateDynamicMenu.html root="/travel" title="Travel" %}
            </ul>
        </div>
    </nav>
</div>